@model DataTable
@using System.Data

<main id="main" class="main">
    <div class="pagetitle">
        <h1>City List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="DashboardView">Home</a></li>
                <li class="breadcrumb-item">City</li>
                <li class="breadcrumb-item active"><a asp-controller="City" asp-action="CountryList">CityList</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <!-- Search Section -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Search City</h5>
                <form class="row g-3 align-items-end">
                    <div class="col-md-6">
                        <label for="quizName" class="form-label">City Name</label>
                        <input type="text" class="form-control" id="quizName" placeholder="Enter City Name">
                    </div>
                    <div class="col-md-3">
                        <label for="quizName" class="form-label">City Code</label>
                        <input type="number" class="form-control" id="minQue" placeholder="Enter City Code">
                    </div>

                    @* <div class="col-md-3"> *@
                    @*     <label for="quizName" class="form-label">Max Question</label> *@
                    @*     <input type="number" class="form-control" id="maxQue" placeholder="Enter max Question"> *@
                    @* </div> *@
                    @* <div class="col-md-3"> *@
                    @*     <label for="quizDate" class="form-label">Quiz Date</label> *@
                    @*     <input type="date" class="form-control" id="quizDate"> *@
                    @* </div> *@
                    
                    <div class="d-flex justify-content-start">
                        <button type="button" class="btn btn-secondary mx-1">Search</button>
                        <button type="reset" class="btn btn-danger mx-1">Reset</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">City List</h5>
                            <a class="btn btn-secondary " id="addQuiz" asp-controller="City" asp-action="CityAddEdit">+Add City</a>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>City Name</th>
                                    <th>STD Code</th>
                                    <th>PIN Code</th>
                                    <th>UserID</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody   class="table-group-divider">
                                <!-- Dynamic rows will be added here -->
                                @foreach (DataRow row in Model.Rows)
                                {
                                    <tr>
                                        <td>@row["CityName"]</td>
                                        <td>@row["STDCode"]</td>
										<td>@row["PinCode"]</td>
                                        <td>@row["UserID"]</td>
                                        <td>
                                            <a asp-controller="City" asp-action="CityAddEdit" asp-route-CityId="@row["CityId"]" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-pencil"></i></a>

                                            <form method="post" asp-controller="City" asp-action="CityDelete" onsubmit="return confirmDelete()" style="display:inline;">
                                                <input type="hidden" name="CityId" value="@row["CityId"]" />
                                                <button type="submit" class="btn btn-danger btn-sm" title="Delete">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->